## Data Scientist Jr.: Dr.Eddy Giusepe Chirinos Isidro

Primeiros passos com PySpark

```
Para instalar PySpark: !pip install pyspark
```

In [1]:
import pyspark
import pandas as pd

In [2]:
pd.read_csv('test1.csv')

        Name    age
0      Krish     31
1  Sudhanshu     30
2      Sunny     29

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

22/03/01 12:26:07 WARN Utils: Your hostname, eddygiusepe resolves to a loopback address: 127.0.1.1; using 192.168.1.122 instead (on interface wlp0s20f3)
22/03/01 12:26:07 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/eddygiusepe/.local/lib/python3.8/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/01 12:26:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
spark

In [6]:
df_pyspark = spark.read.csv('test1.csv')

In [8]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [9]:
# Na seguinte celula trocarenmos para os nomes de colunas que precisamos mesmo
df_pyspark.show()

+---------+-----+
|      _c0|  _c1|
+---------+-----+
|     Name|  age|
|    Krish|   31|
|Sudhanshu|   30|
|    Sunny|   29|
+---------+-----+

In [11]:
# Aqui j√° temos os nomes das nossas colunas mesmo

spark.read.option('header', 'true').csv('test1.csv').show()

+---------+-----+
|     Name|  age|
+---------+-----+
|    Krish|   31|
|Sudhanshu|   30|
|    Sunny|   29|
+---------+-----+

In [12]:
df_pyspark = spark.read.option('header', 'true').csv('test1.csv')

In [14]:
df_pyspark.show()

+---------+-----+
|     Name|  age|
+---------+-----+
|    Krish|   31|
|Sudhanshu|   30|
|    Sunny|   29|
+---------+-----+

In [15]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [17]:
df_pyspark.head(3)

[Row(Name='Krish',   age='31'),
 Row(Name='Sudhanshu',   age='30'),
 Row(Name='Sunny',   age='29')]

In [19]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |--   age: string (nullable = true)