###  Data Scientist Jr.: Dr.Eddy Giusepe Chirinos Isidro

#### <font color="orange">PySpark handling missing values</font>

* Dropping columns
* Dropping rows
* Various parameter in Dropping functionalities
* Handling missing values by ``mean``, ``median`` and ``mode``

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Practise').getOrCreate();

22/03/02 00:52:45 WARN Utils: Your hostname, eddygiusepe resolves to a loopback address: 127.0.1.1; using 192.168.1.122 instead (on interface wlp0s20f3)
22/03/02 00:52:45 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/eddygiusepe/.local/lib/python3.8/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/02 00:52:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/03/02 00:52:46 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/03/02 00:52:46 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/03/02 00:52:46 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [4]:
df_pyspark = spark.read.csv('test2.csv', header = True, inferSchema = True)
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

#### <font color="orange">Dropping the columns</font>

In [ ]:
df_pyspark.drop('Name').show()

#### <font color="orange">Dropping any rows based on the null values and using: all, any, subset ... </font>

In [ ]:
df_pyspark.show()

In [ ]:
# Eliminando rows

df_pyspark.na.drop().show()

In [ ]:
df_pyspark.show()

In [ ]:
# Can drop an row when everything are NULL with the word: "ALL"]

df_pyspark.na.drop(how = 'all').show()

In [ ]:
# Usando ANY
df_pyspark.na.drop(how = 'any').show()

In [ ]:
# Pelo menos dois valores não nulos (para este caso) 

df_pyspark.na.drop(how = "any", thresh = 2).show()

In [ ]:
df_pyspark.show() # Para comparar com o seguinte método

In [ ]:
# Usando SUBSET

df_pyspark.na.drop(how = "any", subset = ["Experience"]).show()

#### <font color="orange">Filling the missing value</font>

In [5]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [22]:
# Ter cuidado na hora de preencher: temos Dados "string" e "inteiros"

df_pyspark.na.fill({'Name': "Missing value", 'age':40, 'Experience':40, 'Salary':4000}).show()

+-------------+---+----------+------+
|         Name|age|Experience|Salary|
+-------------+---+----------+------+
|        Krish| 31|        10| 30000|
|    Sudhanshu| 30|         8| 25000|
|        Sunny| 29|         4| 20000|
|         Paul| 24|         3| 20000|
|       Harsha| 21|         1| 15000|
|      Shubham| 23|         2| 18000|
|       Mahesh| 40|        40| 40000|
|Missing value| 34|        10| 38000|
|Missing value| 36|        40|  4000|
+-------------+---+----------+------+

In [23]:
# Agora vamos a preencher os va,os "null" pela mean, "midian" ou "mode"

df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [29]:
from pyspark.ml.feature import Imputer

In [25]:
# Pode trocar mean --> midian --> mode

imputer = Imputer(inputCols=['age', 'Experience', 'Salary'],
                  outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]).setStrategy('mean')

In [26]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhanshu|  30|         8| 25000|         30|                 8|         25000|
|    Sunny|  29|         4| 20000|         29|                 4|         20000|
|     Paul|  24|         3| 20000|         24|                 3|         20000|
|   Harsha|  21|         1| 15000|         21|                 1|         15000|
|  Shubham|  23|         2| 18000|         23|                 2|         18000|
|   Mahesh|null|      null| 40000|         28|                 5|         40000|
|     null|  34|        10| 38000|         34|                10|         38000|
|     null|  36|      null|  null|         36|                 5|         25750|
+---------+----+----------+------+-----------+------------------+--------------+